<section id="services">
<!-- Page Content -->
{% for post in site.posts %}
  {% if post.category == page.title %}
    {% if post.color == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
		    <hr class="section-footer-spacer">
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="img/{{ post.img1 }}" alt="">
{% if post.img2  %}
                    <hr class="section-heading-spacer-long">
		 	<img class="img-responsive" src="img/{{ post.img2 }}" alt="">
{% endif %}
{% if post.img3  %}
		    <hr class="section-heading-spacer-long">
		 	<img class="img-responsive" src="img/{{ post.img3 }}" alt="">
{% endif %}
{% if post.img4 %}
                    <hr class="section-heading-spacer-long">
		 	<img class="img-responsive" src="img/{{ post.img4 }}" alt="">
{% endif %}
{% if post.img5 %}
                    <hr class="section-heading-spacer-long">
 			<img class="img-responsive" src="img/{{ post.img5 }}" alt="">
{% endif %}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-a-alt">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer-alt">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
		    <hr class="section-footer-spacer-alt">
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="img/{{ post.img1 }}" alt="">
{% if post.img2 %}
		   <hr class="section-heading-spacer-long-alt">
		 	<img class="img-responsive" src="img/{{ post.img2 }}" alt="">
{% endif %}
{% if post.img3 %}
                    <hr class="section-heading-spacer-long-alt">
		 	<img class="img-responsive" src="img/{{ post.img3 }}" alt="">
{% endif %}
{% if post.img4 %}
                    <hr class="section-heading-spacer-long-alt">
		 	<img class="img-responsive" src="img/{{ post.img4 }}" alt="">
{% endif %}
{% if post.img5 %}
                    <hr class="section-heading-spacer-long-alt">
 			<img class="img-responsive" src="img/{{ post.img5 }}" alt="">
{% endif %}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
    {% endif %}
{% endfor %}
</section>





